$primary-color-1: #111;
$primary-color-2: #161616;
$primary-color-3: #1C1C1C;
$secondary-color-1: #E31C25;
$secondary-color-2: #af000c;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}