#projects {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    .project {
      margin-bottom: 1rem;
      display: flex;
      text-align: center;
      flex-direction: column;
      line-height: 1.8;
      img{
        margin: auto;
        max-width: 90%;
      }
    }
}

@media screen and (min-width: 768px){
  #projects{
    .project{
      width:30%;
    }
  }
}